
body {
    font-family: 'Nunito Sans', 'Times New Roman', 'sans-serif';
    background-color: #f7f7f7;
}
  
.container {
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
  
h1 {
    text-align: center;
    font-size: 36px;
    margin-top: 0;
    font-family: 'Rubik Iso';
}
  
form {
    display: flex;
    margin-bottom: 20px;
}
  
input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px 0 0 5px;
    border: none;
    outline: none;
}
  
button[type="submit"] {
    padding: 10px;
    font-size: 18px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
  
ul {
    list-style-type: none;
    padding: 0;
}
  
li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
  
li:last-child {
    border-bottom: none;
}
  
.completed {
    text-decoration: line-through;
    color: #ccc;
}
  